body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.search-form {
  position: fixed;
  right: 50%;
  top: 2%;
  transform: translate(50%);
  opacity: 0.6;

  .input {
    width: 300px;
    height: 20px;
    border-radius: 10px;
    padding-left: 10px;
    border-color: rgb(143, 127, 127);
    border: none;
    cursor: pointer;
  }
}
.gallery-box {
  text-align: center;

  .btn {
    position: fixed;
    bottom: 0px;
    right: 50%;
    transform: translate(50%);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    opacity: 0.6;
  }
  
}
.btn:hover {
  background-color: rgb(2, 97, 175);
  opacity: 1;
}
.search-form:hover {
  opacity: 1;
}
.visibility {
  display: none;
}
.stats {
  display: flex;
  justify-content: space-between;
  color: rgb(236, 223, 223);
  font-size: 15px;
}
.gallery-list {
  margin-top: 50px  ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;  
}
.material-icons{
  font-size: 15px;
}